In [26]:
import pandas as pd
import numpy as np

arrays = [["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],["one", "two", "one", "two", "one", "two", "one", "two"],]

In [27]:
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [28]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [29]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one      -0.483966
       two      -2.606159
baz    one      -0.231014
       two       2.002431
foo    one       0.904070
       two      -0.719719
qux    one      -0.091913
       two      -1.022445
dtype: float64

In [30]:
df = pd.DataFrame(
   ....:     [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
   ....:     columns=["first", "second"],
   ....: )

In [31]:
df

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two

In [32]:
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [33]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.627745 -0.029931  0.856624  0.172725
    two  0.149686  0.065494  0.735436  0.170956
baz one -0.235552  3.020450  0.380939 -0.013732
    two  1.679065  0.647911 -0.867452  0.210953
foo one -2.219469  1.011208 -0.818987 -0.425682
    two  0.610374  0.145243  1.754795 -0.513878
qux one  0.871327  1.184557  1.710872 -0.719923
    two -1.517128  0.650866  0.307029 -0.343506

In [34]:
df.index.names

FrozenList([None, None])

In [35]:
df.index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           )

In [38]:
index = df.index

In [41]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object')

In [44]:
df.loc[("bar", "two")]

0    0.149686
1    0.065494
2    0.735436
3    0.170956
Name: (bar, two), dtype: float64