In [2]:
import pandas as pd

file = 'https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/datasets/Sternberg/2021/Sternberg_cleaned.csv'

data = pd.read_csv(file)

data

     setSize present  id          rt
0          1       n   1  889.000000
1          1       n   2  982.333333
2          1       n   3  501.666667
3          1       n   4  738.333333
4          1       n   5  848.500000
..       ...     ...  ..         ...
247        6       y  17  806.111111
248        6       y  18  683.200000
249        6       y  19  647.588235
250        6       y  20  884.357143
251        6       y  21  532.200000

[252 rows x 4 columns]