In [1]:
import pingouin as pg
import warnings
warnings.filterwarnings('ignore')

           T  dof alternative  p-val           CI95%  cohen-d   BF10  power
T-test  2.25   19   two-sided   0.04  [67.84, 76.76]      0.5  1.795   0.57

In [ ]:
# One-sample t-test
grades = [50, 60, 60, 64, 66, 66, 67, 69, 70, 74, 76, 76, 77, 79, 79, 79, 81, 82, 82, 89]
popmean = 67.5
pg.ttest(grades, popmean).round(2)


**T**: t-statistic. The result you get from the t-test calculation. If the t-statistic is bigger than the critical value for the test, the result can be considered significant.

**dof**: degrees of freedom. DoF is a way of keeping track of the number of parameters involved in calculating a statistic. The calculation of DoF can be pretty simple (for a one-sample t-test it is N-1) but for more complicated tests it can be very complex.

**alternative** are we interested in seeing whether there is _any_ difference (either greater or smaller) between groups (two-sided, or two-tailed), or are we only interested in differences in a particular direction (one-sided, or one-tailed).

**Confidence interval**: probability that the true parameter value (in this case, the average grade for _all_ linguistics students) if the experiment or survey were repeated many times.

**cohen-d**: Cohen's d. A measure of effect size. If we observe a difference between to conditions or groups, how _big_ is the difference. This is not the same as asking whether the difference is statistically _significant_ or not.

**BF10**: Baye's factor. Indicates how much more likely the data are under the alternative hypothesis vs. the null hypothesis.

**Power**: probability of correctly rejecting the null hypothesis when it is false, often represented as  1 - the probability of a Type II error

In [6]:
# Two-sample t-test

# Import data from the URL
url = 'https://raw.githubusercontent.com/ethanweed/pythonbook/refs/heads/main/Data/harpo.csv'
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

   grade       tutor
0     65   Anastasia
1     72  Bernadette
2     66  Bernadette
3     74   Anastasia
4     73   Anastasia

In [8]:
# In this case, pingouin needs the data to be in wide format

df_wide = pd.DataFrame(
                {'Anastasia': df.loc[df['tutor'] == 'Anastasia']['grade'],
                 'Bernadette': df.loc[df['tutor'] == 'Bernadette']['grade']})

df_wide.head()

   Anastasia  Bernadette
0       65.0         NaN
1        NaN        72.0
2        NaN        66.0
3       74.0         NaN
4       73.0         NaN

In [9]:
# Independent samples t-test (we assume equal variance)
pg.ttest(df_wide['Anastasia'], df_wide['Bernadette'], correction = False)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,2.115432,31,two-sided,0.042529,"[0.2, 10.76]",0.739561,1.755,0.53577

In [10]:
# Independent samples t-test (we assume unequal variance), aka Welch's t-test
pg.ttest(df_wide['Anastasia'], df_wide['Bernadette'], correction = True)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,2.034187,23.024806,two-sided,0.05361,"[-0.09, 11.05]",0.739561,1.556,0.53577

In [11]:
# Read data from the URL into a pandas DataFrame
chico_url = 'https://raw.githubusercontent.com/ethanweed/pythonbook/refs/heads/main/Data/chico.csv'
df = pd.read_csv(chico_url)

# Display the first few rows of the dataframe
df.head()

         id  grade_test1  grade_test2
0  student1         42.9         44.6
1  student2         51.8         54.0
2  student3         71.7         72.3
3  student4         51.6         53.4
4  student5         63.5         63.8