In [1]:
import pandas as pd
import seaborn as sns

## Glasgow word norms
This data set, "Glasgow Norms", provides set of normative ratings for 5,553 English words (https://psyarxiv.com/akzyx/). They are rated on 9 psycholinguistic dimensions: 

Arousal (AROU)  
Valence (VAL)  
Dominance (DOM)  
Concreteness (CNC)  
Imageability (IMAG)  
Age of Acquisition (AOA)  
Semantic Size (SIZE)  
Gender Association (GEND). 

For every given subset of words, the same participants provided ratings across all 9 dimensions.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ethanweed/datasets-for-teaching/main/JASP_data_library/4.%20Regression/Glasgow%20Norms.csv')
df.head()

,word,length,M AROU,SD AROU,N AROU,M VAL,SD VAL,N VAL,M DOM,SD DOM,...,N FAM,M AOA,SD AOA,N AOA,M SIZE,SD SIZE,N SIZE,M GEND,SD GEND,N GEND
0,abattoir,8.0,4.3333,2.3570,24.0,2.7619,1.7156,21.0,4.3333,1.3333,...,34.0,6.7600,0.4271,25.0,4.6522,1.5494,23.0,5.4545,1.1571,22.0
1,abbey,5.0,3.2857,2.3733,28.0,5.7097,1.2233,31.0,4.6333,1.6224,...,33.0,5.1765,1.3388,34.0,5.1212,1.6285,33.0,3.2813,1.2051,32.0
2,abbreviate,10.0,3.2258,1.6006,31.0,5.2727,1.0231,33.0,5.2353,1.2381,...,30.0,5.5429,1.1299,35.0,2.6667,1.6997,33.0,3.9333,0.9978,30.0
3,abdicate,8.0,4.3000,1.8824,30.0,3.7667,1.3828,30.0,4.2500,2.1815,...,33.0,6.2759,0.8261,29.0,4.6786,1.4406,28.0,5.1667,1.1856,30.0
4,abdication,10.0,3.8462,2.2819,26.0,3.8800,1.6080,25.0,4.8000,1.9596,...,31.0,6.4074,0.9132,27.0,5.1304,1.3611,23.0,4.6154,1.0406,26.0

## Adam Sandler movies

This data set, "Adam Sandler", provides Rotten Tomatoes ratings and box office success for movies featuring Adam Sandler.

The data contain the 2001-2015 filmography of Adam Sandler together with freshness ratings (indicated by a score from 0 to 1) and box office success in millions of US dollars. The data were obtained from the Rotten Tomatoes website.

Variables:

Year - Year of the movies' premiere.  
Freshness - Freshness ratings on Rotten Tomatoes (ranges from 0 = rotten to 1 = fresh).  
Box Office ($M) - Box office succes of the movies, expressed in millions of US dollars.  
Movie Title - The movie title.

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/ethanweed/datasets-for-teaching/main/JASP_data_library/4.%20Regression/Adam%20Sandler.csv')
df.head()

   Year  Freshness  Box Office ($M)             Movie Title
0  2000       0.22             38.5            Little Nicky
1  2001       0.30             54.4              The Animal
2  2002       0.22            126.2               Mr. Deeds
3  2002       0.01             40.3  The Master of Disguise
4  2002       0.21             34.9           The Hot Chick

## Auction

This data set, "Auction", provides the selling price and age of antique clocks, and the number of bidders in the auction.

Variables:

Age - Age of the antique clock.  
Bidders - The number of bidders in the auction.  
Price - The final selling price of the clock.   

Reference:

Mendenhall, W, and Sincich, TL (1993). A Second Course in Statistics: Regression Analysis (6th ed.), New Jersey: Prentice-Hall.

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/ethanweed/datasets-for-teaching/main/JASP_data_library/4.%20Regression/Auction.csv')
df.head()

   Age  Bidders  Price
0  127       13   1235
1  115       12   1080
2  127        7    845
3  150        9   1522
4  156        6   1047


## Heart Rate

This data set, "Heart Rate", provides heart rates of male and female runners and generally sedentary participants following 6 minutes exercise.

Variables:

Gender - Participant's gender (Female, Male).  
Group - Group of 'Runners' (averaging more than 15 miles per week) and 'Control' group (generally sedentary participant).  
Heart Rate - Heart rate after six minutes of exercise.  


References:

Moore, D. S., McCabe, G. P., and Craig, B. A. (2012). Introduction to the Practice of Statistics (7th ed.). New York: Freeman.

Wood, P.D, Haskell, W. L., Stern, M. P., Lewis, S. and Perry, C. (1977). Plasma lipoprotein distributions in male and female runners. Annals of the New York Academy of Sciences, 301: 748-763.

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/ethanweed/datasets-for-teaching/main/JASP_data_library/3.%20ANOVA/Heart%20Rate.csv')
df.head()

   Gender    Group  Heart Rate
0  Female  Runners         119
1  Female  Runners          84
2  Female  Runners          89
3  Female  Runners         119
4  Female  Runners         127