In [ ]:
# to scrape data from wikipedia, we need install the package called lxml
# we can do that here from our notebook or, if we think we will use it often, we could modify our "install_packages"
# shell script to install it automatically each time we start a job in UCloud
%pip install lxml

# import pandas so we can put data in a nice dataframe
# we'll abbreviate pandas as pd, because that's what everybody does
import pandas as pd

## Scraping data from the web
Using `pandas.read_html`, we can read data from websites where data is presented in a table-like format. Wikipedia has lots of these, and is a great source for data to play with. Below, we'll look at data from the [List of Sesame Street Muppets](https://en.wikipedia.org/wiki/List_of_Sesame_Street_Muppets)

In [ ]:
# scrape table data from websites

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_Sesame_Street_Muppets")
df = rawdata[1]
df

In [ ]:
list(df)

## Removing an unwanted column
Below are several ways to get rid of the final column (there are more ways to do this!) If you find the "axis = 1" part in the first method confusing, well, I do too, and [we are not alone](https://stackoverflow.com/questions/22149584/what-does-axis-in-pandas-mean)! My advice for now is to just accept it and move on. Probably the easiest method is to use `pop` (method 3)

In [ ]:

# method 1
df = df.drop(['Unnamed: 3'], axis = 1)
df

In [ ]:

# method 2
df = df.loc[:,list(df)[0:3]] 
df

In [ ]:
# method 3
df.pop('Unnamed: 3')
df

In [ ]:
# take a column from a dataframe and assign it to a list variable

In [ ]:
# find the first four items in the list

In [ ]:
# find the last three items in the list

In [ ]:
# find items in the middle of the list

In [ ]:
# select the first 20 items from a list

In [ ]:
# remove the last item in a list

In [ ]:
# inpsect the list to make sure the last item was removed

In [ ]:
# remove a specific item from the list

In [ ]:
# stick a Kermit on the end of the list

In [ ]:
# inspect the list to make sure Kermit was added

In [ ]:
# insert an item into a list at a particular position

In [ ]:
# replace an item in a list

In [ ]:
# make a new list which adds "is a cute monster" to each item in the list

In [ ]:
# reset list b to original first 20 items from list a

In [ ]:
# make a list of your favorite monsters, and then make a new list which only includes the monsters 
# from list b that are also in your favorites list

In [ ]:
# make a new list which includes the monsters from list b that are not in your favorites list

## More fun with lists

In [ ]:
# add 10 to each number in d

In [ ]:
# divide each number in d by 2

## Dataframe manipulation

In [ ]:
# download the student sleep data
df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/Data/StudentSleep.csv")
df

In [ ]:
# find the number of rows and columns in the dataframe

In [ ]:
# make a new dataframe df1 which only includes the first 4 rows of the original dataframe

In [ ]:
# make another new dataframe df2 which only includes rows 5 through the end of the original dataframe

In [ ]:
# make a third dataframe df3 with df2 on top of df1 (hint: use pd.concat)

In [ ]:
# overwrite df3 with df1 and df2 back in their original order

In [ ]:
# make a new column called "average" which is the mean of the other columns for each row
df3['average'] = df3.mean(axis = 1)
df3

In [ ]:
# remove the average column from the dataframe
df3.pop('average')
df3

In [ ]:
# make a list of the means of each column in the dataframe
column_means = list(df3.mean())
column_means

In [ ]:
# make a list of the means of each row in the dataframe
colnames = list(df3)
colnames

In [ ]:
list(zip(colnames, column_means))

In [ ]:
student_means = dict(zip(colnames, column_means))
student_means

In [ ]:
print('Student 4\'s average:', round(student_means['Student 4'], 3))

In [ ]:
# make a dataframe the mean hours of sleep for each student
df_means = pd.DataFrame(zip(colnames, column_means))
df_means.columns = ['Students', 'Sleep Hours']
df_means

In [ ]:
# transpose the dataframe
df_transposed = df3.transpose()
df_transposed

In [ ]:
colnames = list(df_transposed)
colnames

In [ ]:
newcols = ['Day ' + str(x+1) for x in colnames]
newcols

In [ ]:
df_transposed.columns = newcols
df_transposed

In [ ]:
df_transposed.index.name = 'student'
df_transposed

In [ ]:
df_transposed.reset_index(inplace = True)
df_transposed

In [ ]:
df_long = pd.melt(df_transposed, id_vars = 'student')
df_long