# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered and changeable. No duplicate members.

## strings

# Title
kksjhdf

## smaller
sdfdsfsd

### even smaller
sdfsdf

In [7]:
a = '5'

In [10]:
a = str(a)

In [11]:
type(a)

str

In [12]:
animals = ['cat', 'dog', 'monkey', 'cat', 'dog', 'anteater']
type(animals)

list

## sets

In [13]:
animals = ['cat', 'dog', 'monkey', 'cat', 'dog', 'anteater']
animals = set(animals)
type(animals)

set

In [14]:
animals

{'anteater', 'cat', 'dog', 'monkey'}

In [15]:
animals = list(animals)
animals

['anteater', 'cat', 'monkey', 'dog']

In [18]:
sent = 'I am a sentence!'
sent

'I am a sentence!'

In [21]:
sentlist = list(sent)
sentlist

['I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 '!']

In [23]:
sentlist[1]

' '

## Dictionaries

In [20]:
 myteacher = {
  "name": "Ethan",
  "subject": "Experimental Psycholinguistics",
  "year_of_birth": 1973,
  "hair_color": "grey",
  "favorite_fruits": ['apples', 'grapes', 'oranges']   
}

In [24]:
myteacher['name']

'Ethan'

In [26]:
myteacher['favorite_fruits']

['apples', 'grapes', 'oranges']

In [36]:
myteacher.get('subject')

'Experimental Psycholinguistics'

In [38]:
keys = ['name', 'subject', 'hair_color']
for key in keys:
    print(myteacher.get(key))

Ethan
Experimental Psycholinguistics
grey

## zipping variables

In [28]:
fruits = ['apples', 'grapes', 'oranges']
numbers = [4, 8, 32]

shopping = zip(fruits, numbers)

In [30]:
list(shopping)

[('apples', 4), ('grapes', 8), ('oranges', 32)]

In [31]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

In [34]:
en = list(enumerate(shakespeare))
en

[(0, 'Hamlet'),
 (1, 'King Lear'),
 (2, 'Much Ado About Nothing'),
 (3, 'Macbeth')]

# loops

### `while` loops

In [39]:
counter = 0
while counter < 10:
    counter = counter + 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

### `for` loops

In [45]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for x in shakespeare:
    print(x)

Hamlet
King Lear
Much Ado About Nothing
Macbeth

In [46]:
x

'Macbeth'

In [47]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for index, value in enumerate(shakespeare):
    print(index, value)

0 Hamlet
1 King Lear
2 Much Ado About Nothing
3 Macbeth

In [64]:
linguists = ['Saussure', 'McGregor', 'Sapir', 'Whorf', 'Chomsky', 'Tomasello', 'Bickerton']
born = [1857, 1952, 1884, 1897, 1928, 1950, 1926]

In [65]:
for num, val in enumerate(born):
    if val < 1900:
        print(linguists[num])

Saussure
Sapir
Whorf

In [66]:
for num, val in enumerate(born):
    if val < 1900:
        print(linguists[num], val)

Saussure 1857
Sapir 1884
Whorf 1897

In [67]:
linguists = ['Saussure', 'McGregor', 'Sapir', 'Whorf', 'Chomsky', 'Tomasello', 'Bickerton']
born = [1857, 1952, 1884, 1897, 1928, 1950, 1926]

before_1900 = []
after_1900 = []
for num, val in enumerate(born):
    if val < 1900:
        before_1900.append(linguists[num])
    if val >= 1900:
        after_1900.append(linguists[num])
print('Linguists born in the 19th century:', before_1900)
print('Linguists born in the 20th century:', after_1900)

Linguists born in the 19th century: ['Saussure', 'Sapir', 'Whorf']
Linguists born in the 20th century: ['McGregor', 'Chomsky', 'Tomasello', 'Bickerton']

In [68]:
list(enumerate(born))

[(0, 1857), (1, 1952), (2, 1884), (3, 1897), (4, 1928), (5, 1950), (6, 1926)]

In [71]:
# we can import pandas to put our data in a spreadsheet format

# it is common to rename pandas as "pd"

import pandas as pd

In [72]:
# we can build a "data frame" out of a dictionary, where the key is a string, and the value is our list of linguists
# belonging to each category.

# however, there is a problem, when we try to put our lists into a dataframe:

df_linguists = pd.DataFrame({'19th century linguists': before_1900,
                            '20th century linguists': after_1900})
df_linguists

ValueError: All arrays must be of the same length

If we look at the error message, it tells us "All arrays must be of the same length". With a little guesswork, we can conclude that  this is because the two lists, `before_1900`, and `after_1900` are different lengths, and `pandas` wants all the columns in its dataframes to be the same length. One way to fix this could be to be to add an empty spot at the end of the shorter list.

In [74]:
# we can use len() to check how long the lists are

print(len(before_1900))
print(len(after_1900))

3
4

In [75]:
# we could just add a space to the end of the short list with "append()"

before_1900.append('')

In [76]:
df_linguists = pd.DataFrame({'19th century linguists': before_1900,
                            '20th century linguists': after_1900})
df_linguists

  19th century linguists 20th century linguists
0               Saussure               McGregor
1                  Sapir                Chomsky
2                  Whorf              Tomasello
3                                     Bickerton

That works fine. Another way would be to find the difference in lengths, and then append that many empty spaces. First, I'll set the length of before_1900 back to 3:

In [ ]:
b

In [ ]:
difference = len(after_1900) - len(before_1900)
before_1900.append('' * difference)
before_1900