## The limits of floats

In [20]:
# in a 64 bit CPU, the computer can only store a number up to 15 decimal places long. So it ignores everything after that
# there are 2 kinds of numbers with decimal points: floats and doubles.
# Python uses doubles, but calls them floats
# doubles take up twice as much memory as floats (8 bytes vs 4 bytes)
# Python ignores everything after 15 decimal places
4.0000000000000001 == 4

True

In [28]:
print(float("4"))
print(int("4"))
str(4.0)

4.0
4

'4.0'

## Zipping lists

In [10]:
a = ['apples', 'grapes', 'pears']
b = [3, 2, 7, 9]

c = zip(a,b)

In [11]:
list(c)

[('apples', 3), ('grapes', 2), ('pears', 7)]

In [9]:
d = [x+'_fruit' for x in a]
d

['apples_fruit', 'grapes_fruit', 'pears_fruit']

In [32]:
a = ['apples', 'grapes', 'pears']
b = [3, 2, 7]
c = [('pigs', 2), ('horses', 5), ('dogs', 9)]
list(zip(a,b,c))[0]

('apples', 3, ('pigs', 2))

## Dictionaries

In [34]:
books = {'Emma': 'Austen',
        'Pride and Predjudice': 'Austen',
        'Moby Dick': 'Melville',
        'Linguistics: An Introduction': 'McGregor'}

In [35]:
books['Emma']

'Austen'

In [36]:
books['Linguistics: An Introduction']

'McGregor'

In [41]:
authors = {'Austen': ['Emma', ' Pride and Predjudice', 'Sense and Sensibility'],
          'Shakespeare': ['Hamlet', 'King Lear', 'Much Ado About Nothing']}

In [42]:
authors['Shakespeare']

['Hamlet', 'King Lear', 'Much Ado About Nothing']

In [43]:
import pandas as pd

In [46]:
author_data = pd.DataFrame(authors)

# NB: This will only work if the lists are the same length!! All cells in the dataframe need to be filled

In [47]:
author_data

                  Austen             Shakespeare
0                   Emma                  Hamlet
1   Pride and Predjudice               King Lear
2  Sense and Sensibility  Much Ado About Nothing

## enumerate()

In [48]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

In [49]:
enumerate(shakespeare)

In [50]:
list(enumerate(shakespeare))

[(0, 'Hamlet'),
 (1, 'King Lear'),
 (2, 'Much Ado About Nothing'),
 (3, 'Macbeth')]

# Loops

## `while` loops

In [53]:
counter = 0
while counter < 10:
    counter = counter + 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

## `for` loops

In [54]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for play in shakespeare:
    print(play)

Hamlet
King Lear
Much Ado About Nothing
Macbeth

In [55]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for play in shakespeare:
    print('Shakespeare wrote', play)

Shakespeare wrote Hamlet
Shakespeare wrote King Lear
Shakespeare wrote Much Ado About Nothing
Shakespeare wrote Macbeth

In [60]:
range(5)

range(0, 5)

In [61]:
# range(start, stop, step)

for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
# range(start, stop, step)

for i in range(1,5):
    print(i)

1
2
3
4

In [65]:
# range(start, stop, step)

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [67]:
# range(start, stop, step)

for i in range(11,0,-2):
    print(i)

11
9
7
5
3
1

In [68]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for index, value in enumerate(shakespeare):
    print(index, value)

0 Hamlet
1 King Lear
2 Much Ado About Nothing
3 Macbeth

In [69]:
linguists = ['Saussure', 'McGregor', 'Sapir', 'Whorf', 'Chomsky', 'Tomasello', 'Bickerton']
born = [1857, 1952, 1884, 1897, 1928, 1950, 1926]

In [77]:
for num, val in enumerate(born):
    if val < 1900:
        print(linguists[num])

Saussure
Sapir
Whorf

In [79]:
before_1900 = []
after_1900 = []
for num, val in enumerate(born):
    if val < 1900:
        before_1900.append(linguists[num])
    if val >= 1900:
        after_1900.append(linguists[num])
print('Linguists born in the 19th century:', before_1900)
print('Linguists born in the 20th century:', after_1900)

Linguists born in the 19th century: ['Saussure', 'Sapir', 'Whorf']
Linguists born in the 20th century: ['McGregor', 'Chomsky', 'Tomasello', 'Bickerton']

In [95]:
before_1900 = []
after_1900 = []
for num, val in enumerate(born):
    if val < 1900:
        before_1900.append(linguists[num])
    if val >= 1900:
        after_1900.append(linguists[num])
print('Linguists born in the 19th century:', ', '.join(before_1900))
print('Linguists born in the 20th century:', ', '.join(after_1900))

Linguists born in the 19th century: Saussure, Sapir, Whorf
Linguists born in the 20th century: McGregor, Chomsky, Tomasello, Bickerton

In [96]:
difference = len(after_1900) - len(before_1900)
before_1900.append('' * difference)
before_1900

['Saussure', 'Sapir', 'Whorf', '']

In [97]:
df_linguists = pd.DataFrame({'19th century linguists': before_1900,
                            '20th century linguists': after_1900})
df_linguists

  19th century linguists 20th century linguists
0               Saussure               McGregor
1                  Sapir                Chomsky
2                  Whorf              Tomasello
3                                     Bickerton

## input()

In [98]:
name = input("What is your name? ")
print("Cool name!")

What is your name? Superman
Cool name!

In [99]:
name = input("What is your name? ")
if name == "Superman":
    print("Cool name!!")
else:
    print("Hmm, too bad your name is not Superman.")

What is your name? Wonder Woman
Hmm, too bad your name is not Superman.

In [100]:
days = []
num_days = input("How many days do you want to plan? ")
while len(days) < int(num_days):
    day = input("Please enter a day name you want to plan for.. ")
    days.append(day)

How many days do you want to plan? 2
Please enter a day name you want to plan for.. Monday
Please enter a day name you want to plan for.. Tuesday

In [101]:
days

['Monday', 'Tuesday']

In [102]:
days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\". ")
    if temp != "done":
        days.append(temp)

Enter a day name. If you are done, write "done". Monday
Enter a day name. If you are done, write "done". Tuesday
Enter a day name. If you are done, write "done". Wednesday
Enter a day name. If you are done, write "done". done

In [103]:
days

['Monday', 'Tuesday', 'Wednesday']