## The limits of floats

In [2]:
4 == 4.000001

False

## Zipping lists

In [27]:
a = ['apples', 'grapes', 'pears']
b = [3, 2, 7]
c = ['Netto', 'Brugsen', 'Rema', 'Fakta']

In [28]:
d = list(zip(a,b,c))

In [29]:
d

[('apples', 3, 'Netto'), ('grapes', 2, 'Brugsen'), ('pears', 7, 'Rema')]

In [24]:
type(d[0])

tuple

## Dictionaries

In [30]:
books = {'Emma': 'Austen',
        'Pride and Predjudice': 'Austen',
        'Moby Dick': 'Melville',
        'Linguistics: An Introduction': 'McGregor'}

In [38]:
books['Emma']

'Austen'

In [33]:
authors = {'Austen': ['Emma', ' Pride and Predjudice', 'Sense and Sensibility'],
          'Shakespeare': ['Hamlet', 'King Lear', 'Much Ado About Nothing']}

In [40]:
authors['Austen']

['Emma', ' Pride and Predjudice', 'Sense and Sensibility']

In [41]:
authors['Austen'][0]

'Emma'

In [49]:
items = ['apples', 'grapes', 'pears']
quantity = [3, 2, 7]
store = ['Netto', 'Brugsen', 'Rema']

In [50]:
shopping = {'items': items,
        'quantity': quantity,
        'store': store}

# dataframes

In [51]:
#%pip install pandas

In [52]:
import pandas as pd

In [53]:
df_shopping = pd.DataFrame(shopping)

In [54]:
df_shopping

    items  quantity    store
0  apples         3    Netto
1  grapes         2  Brugsen
2   pears         7     Rema

# enumerate()

In [55]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

In [59]:
plays = list(enumerate(shakespeare))
plays

[(0, 'Hamlet'),
 (1, 'King Lear'),
 (2, 'Much Ado About Nothing'),
 (3, 'Macbeth')]

# Loops

## `while` loops

In [62]:
counter = 0

while counter < 10:
    counter = counter + 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

## `for` loops

In [65]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for play in shakespeare:
    if len(play) > 6:
        print(play)

King Lear
Much Ado About Nothing
Macbeth

In [66]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for play in shakespeare:
    print('Shakespeare wrote', play)

Shakespeare wrote Hamlet
Shakespeare wrote King Lear
Shakespeare wrote Much Ado About Nothing
Shakespeare wrote Macbeth

## range()

In [67]:
range(5)

range(0, 5)

In [68]:
# range(start, stop, step)

for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
# range(start, stop, step)

for i in range(1, 6):
    print(i)

1
2
3
4
5

In [71]:
# range(start, stop, step)

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [72]:
# range(start, stop, step)

for i in range(11,0,-2):
    print(i)

11
9
7
5
3
1

In [74]:
a = list(range(1,len(authors),2))
a

[11, 9, 7, 5, 3, 1]

## enumerate() again

In [75]:
linguists = ['Saussure', 'McGregor', 'Sapir', 'Whorf', 'Chomsky', 'Tomasello', 'Bickerton']
born = [1857, 1952, 1884, 1897, 1928, 1950, 1926]

In [78]:
for index, value in enumerate(born):
    if value < 1900:
        print(linguists[index])

Saussure
Sapir
Whorf

In [77]:
list(enumerate(born))

[(0, 1857), (1, 1952), (2, 1884), (3, 1897), (4, 1928), (5, 1950), (6, 1926)]

In [79]:
before_1900 = []
after_1900 = []

for num, val in enumerate(born):
    if val < 1900:
        before_1900.append(linguists[num])
    if val >= 1900:
        after_1900.append(linguists[num])
print('Linguists born in the 19th century:', before_1900)
print('Linguists born in the 20th century:', after_1900)

Linguists born in the 19th century: ['Saussure', 'Sapir', 'Whorf']
Linguists born in the 20th century: ['McGregor', 'Chomsky', 'Tomasello', 'Bickerton']

In [80]:
before_1900.append('9999999999999')
before_1900

['Saussure', 'Sapir', 'Whorf', '9999999999999']

In [83]:
all_linguists = {'19th century': before_1900,
                '20th century': after_1900}

df_linguists = pd.DataFrame(all_linguists)

In [84]:
df_linguists

    19th century 20th century
0       Saussure     McGregor
1          Sapir      Chomsky
2          Whorf    Tomasello
3  9999999999999    Bickerton

## input()

In [85]:
name = input("What is your name? ")
print("Cool name!")

What is your name? Aquaman
Cool name!

In [86]:
name = input("What is your name? ")
if name == "Superman":
    print("Cool name!!")
else:
    print("Hmm, too bad your name is not Superman.")

What is your name? Aquaman
Hmm, too bad your name is not Superman.