In [90]:
4.00000000000000000000000001 == 4

True

In [91]:
a = ['apples', 'grapes', 'pears']
b = [3, 2, 7]
c = ['Netto', 'Brugsen', 'Fakta']

In [92]:
d = zip(a,b,c)
e = list(d)

In [93]:
f = e[2]

In [94]:
f

('pears', 7, 'Fakta')

In [95]:
books = {'Emma': 'Austen',
        'Pride and Predjudice': 'Austen',
        'Moby Dick': 'Melville',
        'Linguistics: An Introduction': 'McGregor'}

In [96]:
books['Linguistics: An Introduction']

'McGregor'

In [97]:
authors = {'Austen': ['Emma', 'Pride and Predjudice', 'Sense and Sensibility'],
          'Shakespeare': ['Hamlet', 'King Lear', 'Much Ado About Nothing']}

In [98]:
authors['Austen']

['Emma', 'Pride and Predjudice', 'Sense and Sensibility']

In [99]:
# %pip install pandas
import pandas as pd

In [100]:
author_data = pd.DataFrame(authors)

In [101]:
author_data

                  Austen             Shakespeare
0                   Emma                  Hamlet
1   Pride and Predjudice               King Lear
2  Sense and Sensibility  Much Ado About Nothing

In [102]:
# enter data
items = ['apples', 'grapes', 'pears']
quantity = [3, 2, 7]
store = ['Netto', 'Brugsen', 'Fakta']

# collect in dataframe
shopping = pd.DataFrame({'items': items,
                        'quantity': quantity,
                        'store': store})
# view dataframe
shopping

    items  quantity    store
0  apples         3    Netto
1  grapes         2  Brugsen
2   pears         7    Fakta

# enumerate()

In [103]:
items = ['apples', 'grapes', 'pears']

In [104]:
list(enumerate(items))

[(0, 'apples'), (1, 'grapes'), (2, 'pears')]

# loops

## `while` loop

In [105]:
counter = 0

while counter < 10:
    counter = counter + 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

## `for` loop

In [106]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for play in shakespeare:
    print('Shakespeare wrote', play)

Shakespeare wrote Hamlet
Shakespeare wrote King Lear
Shakespeare wrote Much Ado About Nothing
Shakespeare wrote Macbeth

In [107]:
range(5)

range(0, 5)

In [108]:
for i in range(5):
    print(i)

0
1
2
3
4

In [109]:
for i in range(1,5):
    print(i)

1
2
3
4

In [110]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [111]:
for i in range(11,0,-2):
    print(i)

11
9
7
5
3
1

In [112]:
shakespeare = ['Hamlet', 'King Lear', 'Much Ado About Nothing', 'Macbeth']

for index, value in enumerate(shakespeare):
    print(index, value)

0 Hamlet
1 King Lear
2 Much Ado About Nothing
3 Macbeth

In [113]:
linguists = ['Saussure', 'McGregor', 'Sapir', 'Whorf', 'Chomsky', 'Tomasello', 'Bickerton']
born = [1857, 1952, 1884, 1897, 1928, 1950, 1926]

In [114]:
for index, value in enumerate(born):
    if value < 1900:
        print(linguists[index])

Saussure
Sapir
Whorf

In [115]:
before_1900 = []
after_1900 = []
for num, val in enumerate(born):
    if val < 1900:
        before_1900.append(linguists[num])
    if val >= 1900:
        after_1900.append(linguists[num])

In [116]:
print(before_1900)
print(after_1900)

['Saussure', 'Sapir', 'Whorf']
['McGregor', 'Chomsky', 'Tomasello', 'Bickerton']

In [121]:
# add an extra blank space to the end before_1900, so it is the same length as after_1900
# I think this was Agnes' solution, right?

while len(before_1900) < len(after_1900):
    before_1900.append('')

before_1900

['Saussure', 'Sapir', 'Whorf', '']

In [119]:
print(before_1900)
print(after_1900)

['Saussure', 'Sapir', 'Whorf', '']
['McGregor', 'Chomsky', 'Tomasello', 'Bickerton']

In [120]:
df_linguists = pd.DataFrame({'before_1900': before_1900,
                            'after_1900': after_1900})
df_linguists

  before_1900 after_1900
0    Saussure   McGregor
1       Sapir    Chomsky
2       Whorf  Tomasello
3              Bickerton

In [88]:
name = input("What is your name? ")
print("Cool name!")

What is your name? Ethan
Cool name!

In [89]:
name = input("What is your name? ")
if name == "Superman":
    print("Cool name!!")
else:
    print("Hmm, too bad your name is not Superman.")

What is your name? Ethan
Hmm, too bad your name is not Superman.