In [42]:
#read text from folder into python

import os
import glob
import pandas as pd

pathin = '/Users/ethan/Documents/GitHub/ExPsyLing/datasets/Sternberg/'

os.chdir(pathin)

raw = []
for file in glob.glob('*.csv'):
    raw.append(pd.read_csv(file))

In [44]:
len(raw)

2

In [22]:


raw = pd.read_csv("/Users/ethan/Documents/GitHub/ExPsyLing/datasets/Sternberg/Sternberg_testdata_ethan.csv")

raw.head()

,acc,accuracy,average_response_time,avg_rt,background,bidi,block,canvas_backend,clock_backend,color_backend,...,time_memory_set,time_new_logger,time_practiceLoop,time_probe,title,total_correct,total_response_time,total_responses,uniform_coordinates,width
0,100,100,1855,1855,black,no,practice,legacy,legacy,legacy,...,32557,37635,29,35770,Sternberg,1,1855,1,yes,1024
1,100,100,1415,1415,black,no,practice,legacy,legacy,legacy,...,39661,43854,29,42868,Sternberg,2,2830,2,yes,1024
2,100,100,1294,1294,black,no,practice,legacy,legacy,legacy,...,45879,50148,29,49088,Sternberg,3,3881,3,yes,1024
3,100,100,1239,1239,black,no,practice,legacy,legacy,legacy,...,52164,56458,29,55372,Sternberg,4,4956,4,yes,1024
4,100,100,1199,1199,black,no,practice,legacy,legacy,legacy,...,58484,62744,29,61692,Sternberg,5,5996,5,yes,1024

In [23]:
#id, block, correct, present, setSize, response_time



df = pd.DataFrame({'id': [1]*raw.shape[0],
                   'block': raw['block'],
                   'correct': raw['correct'],
                   'setSize': raw['setSize'],
                   'rt': raw['response_time']})

In [24]:
df.head()

   id     block  correct  setSize    rt
0   1  practice        1        1  1855
1   1  practice        1        5   975
2   1  practice        1        6  1051
3   1  practice        1        3  1075
4   1  practice        1        4  1040

In [25]:
df.shape

(138, 5)

In [26]:
# remove practice trials


d = df.loc[df['block'] != "practice"]

In [27]:
d.shape

(126, 5)

In [29]:
d = df.loc[df['correct'] == 1]

In [30]:
d.shape

(126, 5)

In [31]:
d['correct']

0      1
1      1
2      1
3      1
4      1
      ..
133    1
134    1
135    1
136    1
137    1
Name: correct, Length: 126, dtype: int64