#### Use append to add data to lists

In [ ]:



days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\".")
    if temp != "done":
        days.append(temp)


meals = []
for day in days:
    meals.append(input("What would you like to make on " + day + "? "))

#### Use dataframes to structure your data

In [ ]:
import pandas as pd

df = pd.DataFrame(
    {'days': days,
     'meals': meals
    })

df

#### You can add new columns to the dataframe

... so long as the number of rows stays the same

In [ ]:
shopping = []
for meal in df['meals']:
    shopping.append(input("What do you need to buy to make " + meal + " ? "))

df['shopping'] = shopping

In [ ]:
df

#### You can access the columns like this:

In [ ]:
df['meals']

#### You can turn columns back into lists

In [ ]:
list(df['meals'])

#### Use ``iloc`` to get rows

In [ ]:
df.iloc[2]

#### You can turn lists back into rows too

In [ ]:
list(df.loc[2])

#### pandas has tools for scraping data from the web

In [2]:
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_albums")

In [3]:
# what format is this data scraped from wikipedia?
type(rawdata)

list

In [4]:
# what is in this list?
rawdata[0].head()
#rawdata[1].head()

   Colors                        Colors.1
0     NaN                   Studio albums
1     NaN  Greatest hits and compilations
2     NaN                     Soundtracks
3     NaN                     Live albums

#### Use `shape` to find out how many rows and column there are in the dataframe

In [5]:
rawdata[1].shape

(10, 7)

#### Concatenate dataframes

If more than one dataframe has the same number of columns, and the column names are the same, we can stick them on top of each other and make one big dataframe.

In [6]:
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

In [7]:
# same number of columns, now with more rows
data.shape

(81, 7)

#### Rename columns

In [8]:
# first, get a list of all the column names
cols = list(data.columns)
cols

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*',
 'Ref(s)']

In [9]:
# now, change the names however you want
cols[4] = "Total copies"
cols[5] = "Claimed sales"
cols

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total copies',
 'Claimed sales',
 'Ref(s)']

In [10]:
# finally, reassign your list with the changed names to be the names of the columns in the dataframe
data.columns = cols
data.head()

,Artist,Album,Released,Genre,Total copies,Claimed sales,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

#### Or use `.rename`

In [11]:
data = data.rename(columns={'Claimed sales': 'Sales'})
data.head(2)

,Artist,Album,Released,Genre,Total copies,Sales,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]

#### Remove a column from the dataframe

In [12]:
# Goodby "Ref(s)"
data = data.loc[:,'Artist':'Sales']
data.head()

,Artist,Album,Released,Genre,Total copies,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44

In [13]:
# See, now there are only 6 columns.
data.shape

(81, 6)

#### Or remove columns with `pop`

In [14]:
# get a list of all the column names
cols = list(data.columns)

# "pop" out the fourth one ("Total copies")
cols.pop(4)

# make a new dataframe containing only the columns in the list `cols`
data = data[cols]
data

,Artist,Album,Released,Genre,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock",70
1,AC/DC,Back in Black,1980,Hard rock,50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",45
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock",44
...,...,...,...,...,...
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,20
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",20
45,Whitney Houston,Whitney,1987,"Pop, R&B",20
46,The Who,Tommy,1969,"Hard rock, rock opera",20
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",20

#### select rows

In [15]:
# Make a dataframe with data from all columns, but only rows 2 to 4
little_data = data.iloc[1:4,:]
little_data

,Artist,Album,Released,Genre,Sales
1,AC/DC,Back in Black,1980,Hard rock,50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",45

In [16]:
# remake original dataframe
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

#### Find the contents by row number

In [17]:
# 2 best-selling artist
# find the data in the column "Artist" and row number 1
artist = data['Artist'][1]
artist

1           AC/DC
1    Led Zeppelin
1    Mariah Carey
Name: Artist, dtype: object

Wait, what? Apparently Python doesn't make new row numbers when it concatenates the dataframes, so there are _3_ artists in row number 3: because there are _three_ row number threes! We could have added `ignore_index=True` when concatenated. Another option would be to..

#### Make a column with sensible row numbers that start at 1

In [18]:
# make a new column with numbers from 1 to the total number of rows
data['rank'] = [n for n in range(1, data.shape[0]+1)]
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),rank
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5],1
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32],2
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37],3
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39],4
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40],5

#### Move the new column with row numbers to the left of the dataframe
...next to the confusing zero-indexed ones. It's nice to have the row ID on the left, I think.

In [19]:
data = data[ ['rank'] + [ col for col in data.columns if col != 'rank' ] ]
data.head(2)

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,1,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,2,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]

#### Now it is easy to search for an artist by their ranking

In [20]:
n = 24
list(data.loc[data['rank'] == n]['Artist'])

['The Beatles']

#### Find top albums from the first 10 years of your life

In [21]:
born = 1973
list(data.loc[(data['Released'] >= born) & (data['Released'] < born+10)]['Album'])

['Thriller',
 'Back in Black',
 'Bat Out of Hell',
 'Their Greatest Hits (1971–1975)',
 'The Dark Side of the Moon',
 'Hotel California',
 'Saturday Night Fever',
 'Rumours',
 'Grease: The Original Soundtrack from the Motion Picture',
 'The Wall',
 'Goodbye Yellow Brick Road',
 'Greatest Hits',
 'Greatest Hits',
 'Off the Wall',
 'Boston',
 'Wish You Were Here',
 'Breakfast in America']

#### Sort the data by a column

In [22]:
data_sorted = data.sort_values(by=['Released'])
data_sorted.head()

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
36,70,Elvis Presley,Elvis' Christmas Album,1957,"Christmas, pop, gospel, rock and roll",NaN,2520,[159][160][161]
6,17,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,Rock,18.2 US: 11 million[9] UK: 5.1 million[11] GER...,32,[71]
13,24,The Beatles,Abbey Road,1969,Rock,"14.4 US: 12 million[9] GER: 500,000[12] FRA: 1...",31,[97]
46,80,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171]
12,46,Simon & Garfunkel,Bridge over Troubled Water,1970,Folk rock,NaN,25,[131]

#### Sort the data in reverse order by a column

In [23]:
data_sorted = data.sort_values(by=['Released'], ascending=False)
data_sorted.head()

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
26,60,Adele,25,2015,"Soul, pop, R&B",NaN,22,[147]
8,19,Adele,21,2011,"Pop, soul","26.4 US: 14 million[9] JPN: 100,000[73] UK: 6 ...",31,[86]
4,38,Norah Jones,Come Away with Me,2002,Jazz,NaN,27,[123]
3,37,Eminem,The Eminem Show,2002,Hip hop,NaN,27,[121][122]
2,36,Linkin Park,Hybrid Theory,2000,"Nu metal, rap metal, alternative metal",NaN,27,[120]

#### Sort the data by two columns

In [24]:
data_sorted = data.sort_values(by=['Genre', 'Released'])
data_sorted.head()

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
5,39,Eric Clapton,Unplugged,1992,"Acoustic rock, acoustic blues",NaN,26,[124]
23,57,Fugees,The Score,1996,Alternative hip hop,NaN,22,[142][143][144]
3,14,Alanis Morissette,Jagged Little Pill,1995,Alternative rock,24.3 US: 16 million[9] UK: 3 million[11] GER: ...,33,[65][66]
32,66,Boston,Boston,1976,"Arena rock, hard rock",NaN,20,[155]
24,58,Oasis,(What's the Story) Morning Glory?,1995,"Britpop, rock",NaN,22,[145]

#### Add a new column with a "dummy variable".

In [25]:
pop = []
for i in list(data['Genre']):
    if 'Pop' in i:
        pop.append(1)
    elif 'pop' in i:
            pop.append(1)
    else:
        pop.append(0)
data['Pop'] = pop
data

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),Pop
0,1,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5],1
1,2,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32],0
2,3,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37],1
3,4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39],0
4,5,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40],0
...,...,...,...,...,...,...,...,...,...
43,77,Tracy Chapman,Tracy Chapman,1988,Folk rock,NaN,20,[168],0
44,78,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169],1
45,79,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170],1
46,80,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171],0
47,81,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",NaN,20,[172],1