#### Import pandas to make dataframes

In [230]:
import pandas as pd


days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\".")
    if temp != "done":
        days.append(temp)


meals = []
for day in days:
    meals.append(input("What would you like to make on " + day + "? "))
    
df = pd.DataFrame(
    {'days': days,
     'meals': meals
    })

Enter a day name. If you are done, write "done".Monday
Enter a day name. If you are done, write "done".Tuesday
Enter a day name. If you are done, write "done".Friday
Enter a day name. If you are done, write "done".done
What would you like to make on Monday? tacos
What would you like to make on Tuesday? pizza
What would you like to make on Friday? smoothies

#### Dataframes structure your data

In [231]:
df

      days      meals
0   Monday      tacos
1  Tuesday      pizza
2   Friday  smoothies

#### You can add new columns to the dataframe

... so long as the number of rows stays the same

In [235]:
shopping = []
for meal in df['meals']:
    shopping.append(input("What do you need to buy to make " + meal + " ? "))

df['shopping'] = shopping

What do you need to buy to make tacos ? lettuce, tortillas, beans
What do you need to buy to make pizza ? tomato sauce, mushrooms
What do you need to buy to make smoothies ? berries

In [236]:
df

      days      meals                   shopping
0   Monday      tacos  lettuce, tortillas, beans
1  Tuesday      pizza    tomato sauce, mushrooms
2   Friday  smoothies                    berries

#### You can access the columns like this:

In [24]:
df['meals']

0     Soup
1    Salad
2    Pizza
Name: meals, dtype: object

#### You can turn columns back into lists

In [237]:
list(df['meals'])

['tacos', 'pizza', 'smoothies']

#### Use ``iloc`` to get rows

In [238]:
df.iloc[2]

days           Friday
meals       smoothies
shopping      berries
Name: 2, dtype: object

#### You can turn lists back into rows too

In [239]:
list(df.loc[2])

['Friday', 'smoothies', 'berries']

#### pandas has tools for scraping data from the web

In [322]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_albums")

In [323]:
# what format is this data scraped from wikipedia?
type(rawdata)

list

In [324]:
# what is in this list?
rawdata[0].head()
#rawdata[1].head()

   Colors                        Colors.1
0     NaN                   Studio albums
1     NaN  Greatest hits and compilations
2     NaN                     Soundtracks
3     NaN                     Live albums

#### Use `shape` to find out how many rows and column there are in the dataframe

In [325]:
rawdata[1].shape

(10, 7)

#### Concatenate dataframes

If more than one dataframe has the same number of columns, and the column names are the same, we can stick them on top of each other and make one big dataframe.

In [326]:
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

In [327]:
# same number of columns, now with more rows
data.shape

(81, 7)

#### Rename columns

In [328]:
# first, get a list of all the column names
cols = list(data.columns)
cols

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*',
 'Ref(s)']

In [329]:
# now, change the names however you want
cols[4] = "Total copies"
cols[5] = "Claimed sales"
cols

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total copies',
 'Claimed sales',
 'Ref(s)']

In [330]:
# finally, reassign your list with the changed names to be the names of the columns in the dataframe
data.columns = cols
data.head()

,Artist,Album,Released,Genre,Total copies,Claimed sales,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

#### Or use `.rename`

In [332]:
data = data.rename(columns={'Claimed sales': 'Sales'})
data.head(2)

,Artist,Album,Released,Genre,Total copies,Sales,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]

#### Remove a column from the dataframe

In [335]:
# Goodby "Ref(s)"
data = data.loc[:,'Artist':'Sales']
data.head()

,Artist,Album,Released,Genre,Total copies,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44

In [336]:
# See, now there are only 6 columns.
data.shape

(81, 6)

#### Or remove columns with `pop`

In [337]:
# get a list of all the column names
cols = list(data.columns)

# "pop" out the fourth one ("Total copies")
cols.pop(4)

# make a new dataframe containing only the columns in the list `cols`
data = data[cols]
data

,Artist,Album,Released,Genre,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock",70
1,AC/DC,Back in Black,1980,Hard rock,50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",45
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock",44
...,...,...,...,...,...
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,20
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",20
45,Whitney Houston,Whitney,1987,"Pop, R&B",20
46,The Who,Tommy,1969,"Hard rock, rock opera",20
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",20

#### select rows

In [338]:
# Make a dataframe with data from all columns, but only rows 2 to 4
little_data = data.iloc[1:4,:]
little_data

,Artist,Album,Released,Genre,Sales
1,AC/DC,Back in Black,1980,Hard rock,50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",45

In [339]:
# remake original dataframe
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

#### Find the contents by row number

In [340]:
# 2 best-selling artist
# find the data in the column "Artist" and row number 1
artist = data['Artist'][1]
artist

1           AC/DC
1    Led Zeppelin
1    Mariah Carey
Name: Artist, dtype: object

Wait, what? Apparently Python doesn't make new row numbers when it concatenates the dataframes, so there are _3_ artists in row number 3: because there are _three_ row number threes! We could have added `ignore_index=True` when concatenated. Another option would be to..

#### Make a column with sensible row numbers that start at 1

In [341]:
# make a new column with numbers from 1 to the total number of rows
data['rank'] = [n for n in range(1, data.shape[0]+1)]
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),rank
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5],1
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32],2
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37],3
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39],4
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40],5

#### Move the new column with row numbers to the left of the dataframe
...next to the confusing zero-indexed ones. It's nice to have the row ID on the left, I think.

In [342]:
data = data[ ['rank'] + [ col for col in data.columns if col != 'rank' ] ]
data.head(2)

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,1,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,2,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]

#### Now it is easy to search for an artist by their ranking

In [343]:
n = 24
list(data.loc[data['rank'] == n]['Artist'])

['The Beatles']

#### Find top albums from the first 10 years of your life

In [344]:
born = 1973
list(data.loc[(data['Released'] >= born) & (data['Released'] < born+10)]['Album'])

['Thriller',
 'Back in Black',
 'Bat Out of Hell',
 'Their Greatest Hits (1971–1975)',
 'The Dark Side of the Moon',
 'Hotel California',
 'Saturday Night Fever',
 'Rumours',
 'Grease: The Original Soundtrack from the Motion Picture',
 'The Wall',
 'Goodbye Yellow Brick Road',
 'Greatest Hits',
 'Greatest Hits',
 'Off the Wall',
 'Boston',
 'Wish You Were Here',
 'Breakfast in America']