In [11]:
import pandas as pd


days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\".")
    if temp != "done":
        days.append(temp)


meals = []
for day in days:
    meals.append(input("What would you like to make on " + day + "? "))
    
df = pd.DataFrame(
    {'days': days,
     'meals': meals
    })

Enter a day name. If you are done, write "done".Monday
Enter a day name. If you are done, write "done".Tuesday
Enter a day name. If you are done, write "done".Friday
Enter a day name. If you are done, write "done".done
What would you like to make on Monday? Soup
What would you like to make on Tuesday? Salad
What would you like to make on Friday? Pizza

In [12]:
df

      days  meals
0   Monday   Soup
1  Tuesday  Salad
2   Friday  Pizza

In [14]:
shopping = []
for meal in df['meals']:
    shopping.append(input("What do you to buy to make " + meal + " ? "))

df['shopping'] = shopping

What do you to buy to make Soup ? tomatoes, onions, spices
What do you to buy to make Salad ? lettuce, cukes, dressing
What do you to buy to make Pizza ? cheese, sauce, toppings

In [15]:
df

      days  meals                  shopping
0   Monday   Soup  tomatoes, onions, spices
1  Tuesday  Salad  lettuce, cukes, dressing
2   Friday  Pizza   cheese, sauce, toppings

In [24]:
df['meals']

0     Soup
1    Salad
2    Pizza
Name: meals, dtype: object

In [26]:
list(df['meals'])

['Soup', 'Salad', 'Pizza']

In [28]:
df.iloc[2]

days                         Friday
meals                         Pizza
shopping    cheese, sauce, toppings
Name: 2, dtype: object

In [29]:
list(df.loc[2])

['Friday', 'Pizza', 'cheese, sauce, toppings']

In [95]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_albums")

In [96]:
type(rawdata)

list

In [149]:
rawdata[1].head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

In [110]:
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

In [111]:
data.tail()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,NaN,20,[168]
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169]
45,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170]
46,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171]
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",NaN,20,[172]