In [1]:


days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\".")
    if temp != "done":
        days.append(temp)


meals = []
for day in days:
    meals.append(input("What would you like to make on " + day + "? "))

Enter a day name. If you are done, write "done".Monday
Enter a day name. If you are done, write "done".Tuesday
Enter a day name. If you are done, write "done".Sunday
Enter a day name. If you are done, write "done".done
What would you like to make on Monday? Tacos
What would you like to make on Tuesday? Pizza
What would you like to make on Sunday? Soup

In [2]:
days

['Monday', 'Tuesday', 'Sunday']

In [3]:
meals

['Tacos', 'Pizza', 'Soup']

In [4]:
meals[2]

'Soup'

In [5]:
import pandas as pd

df = pd.DataFrame(
    {'days': days,
     'meals': meals
    })

df

      days  meals
0   Monday  Tacos
1  Tuesday  Pizza
2   Sunday   Soup

In [6]:
shopping = []
for meal in df['meals']:
    shopping.append(input("What do you need to buy to make " + meal + " ? "))

df['shopping'] = shopping

What do you need to buy to make Tacos ? taco shells, beans
What do you need to buy to make Pizza ? cheese, tomato sauce
What do you need to buy to make Soup ? onions

In [7]:
df

      days  meals              shopping
0   Monday  Tacos    taco shells, beans
1  Tuesday  Pizza  cheese, tomato sauce
2   Sunday   Soup                onions

In [10]:
a = list(df['meals'])
type(a)

list

In [12]:
a[0]="Salad"

In [13]:
a

['Salad', 'Pizza', 'Soup']

In [14]:
df['meals'] = a

In [15]:
df

      days  meals              shopping
0   Monday  Salad    taco shells, beans
1  Tuesday  Pizza  cheese, tomato sauce
2   Sunday   Soup                onions

In [18]:
list(df.iloc[2])

['Sunday', 'Soup', 'onions']

In [19]:
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_albums")

In [29]:
rawdata[1]

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]
5,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,24.4 US: 15 million[9] UK: 4.2 million[11] GER...,44,[42]
6,Eagles,Hotel California,1976,Soft rock,31.5 US: 26 million[9] UK: 1.8 million[11] GER...,42,[43]
7,Bee Gees / Various artists,Saturday Night Fever,1977,Disco,21.6 US: 16 million[9] UK: 2.1 million[11] GER...,40,[45][46]
8,Fleetwood Mac,Rumours,1977,Soft rock,27.9 US: 20 million[9] UK: 3.3 million[11] GER...,40,[49][50]
9,Shania Twain,Come On Over,1997,"Country, pop","29.6 US: 20 million[9] JPN: 100,000 [10] UK: 3...",40,[54]

In [30]:
rawdata[1].shape

(10, 7)

In [31]:
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

In [34]:
data.shape

(81, 7)

In [35]:
# make a new column with numbers from 1 to the total number of rows
data['rank'] = [n for n in range(1, data.shape[0]+1)]
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),rank
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5],1
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32],2
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37],3
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39],4
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40],5

In [37]:
data.tail(10)

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),rank
38,Lionel Richie,Can't Slow Down,1983,"Pop, R&B, soul",NaN,20,[163],72
39,Mariah Carey,Daydream,1995,"Pop, R&B",NaN,20,[164],73
40,Pink Floyd,Wish You Were Here,1975,"Progressive rock, art rock, experimental rock",NaN,20,[165],74
41,Shania Twain,The Woman in Me,1995,"Country, pop",NaN,20,[166],75
42,Supertramp,Breakfast in America,1979,"Progressive rock, art rock",NaN,20,[167],76
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,NaN,20,[168],77
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169],78
45,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170],79
46,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171],80
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",NaN,20,[172],81

In [39]:
n = 81
list(data.loc[data['rank'] == n]['Artist'])

['Andrea Bocelli']

In [54]:
n = 24
data.loc[data['rank'] == n]

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),rank
13,The Beatles,Abbey Road,1969,Rock,"14.4 US: 12 million[9] GER: 500,000[12] FRA: 1...",31,[97],24

In [59]:
data = data[ ['rank'] + [ col for col in data.columns if col != 'rank' ] ]

In [60]:
data

,rank,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,1,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,2,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,3,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,5,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]
...,...,...,...,...,...,...,...,...
43,77,Tracy Chapman,Tracy Chapman,1988,Folk rock,NaN,20,[168]
44,78,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169]
45,79,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170]
46,80,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171]
47,81,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",NaN,20,[172]

In [61]:
# Goodby "Ref(s)"
data = data.loc[:,'Artist':'Claimed sales*']
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44

In [63]:
# get a list of all the column names
cols = list(data.columns)
cols

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*']

In [64]:
# "pop" out the fourth one ("Total copies")
cols.pop(4)

'Total certified copies(from available markets)*'

In [65]:
cols

['Artist', 'Album', 'Released', 'Genre', 'Claimed sales*']

In [66]:
# make a new dataframe containing only the columns in the list `cols`
data = data[cols]
data

,Artist,Album,Released,Genre,Claimed sales*
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock",70
1,AC/DC,Back in Black,1980,Hard rock,50
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",45
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock",44
...,...,...,...,...,...
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,20
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",20
45,Whitney Houston,Whitney,1987,"Pop, R&B",20
46,The Who,Tommy,1969,"Hard rock, rock opera",20
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",20

In [70]:
data_sorted = data.sort_values(by=['Artist'])
data_sorted

,Artist,Album,Released,Genre,Claimed sales*
14,ABBA,Gold: Greatest Hits,1992,"Pop, disco",30
1,AC/DC,Back in Black,1980,Hard rock,50
20,Ace of Base,Happy Nation/The Sign,1993,Pop,23
26,Adele,25,2015,"Soul, pop, R&B",22
8,Adele,21,2011,"Pop, soul",31
...,...,...,...,...,...
0,Various artists,Grease: The Original Soundtrack from the Motio...,1978,Rock and roll,38
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",20
22,Whitney Houston,Whitney Houston,1985,"Pop, R&B",22
45,Whitney Houston,Whitney,1987,"Pop, R&B",20
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45

In [72]:
data = data.rename(columns={'Claimed sales*': 'Sales'})
data.head(2)

,Artist,Album,Released,Genre,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock",70
1,AC/DC,Back in Black,1980,Hard rock,50

In [74]:
data = data.sort_values(by=['Artist', 'Album'])
data

,Artist,Album,Released,Genre,Sales
14,ABBA,Gold: Greatest Hits,1992,"Pop, disco",30
1,AC/DC,Back in Black,1980,Hard rock,50
20,Ace of Base,Happy Nation/The Sign,1993,Pop,23
8,Adele,21,2011,"Pop, soul",31
26,Adele,25,2015,"Soul, pop, R&B",22
...,...,...,...,...,...
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",20
0,Various artists,Grease: The Original Soundtrack from the Motio...,1978,Rock and roll,38
45,Whitney Houston,Whitney,1987,"Pop, R&B",20
22,Whitney Houston,Whitney Houston,1985,"Pop, R&B",22
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45

In [75]:
pop = []
for i in list(data['Genre']):
    if 'Pop' in i:
        pop.append(1)
    elif 'pop' in i:
            pop.append(1)
    else:
        pop.append(0)
data['Pop'] = pop
data

,Artist,Album,Released,Genre,Sales,Pop
14,ABBA,Gold: Greatest Hits,1992,"Pop, disco",30,1
1,AC/DC,Back in Black,1980,Hard rock,50,0
20,Ace of Base,Happy Nation/The Sign,1993,Pop,23,1
8,Adele,21,2011,"Pop, soul",31,1
26,Adele,25,2015,"Soul, pop, R&B",22,1
...,...,...,...,...,...,...
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",20,1
0,Various artists,Grease: The Original Soundtrack from the Motio...,1978,Rock and roll,38,0
45,Whitney Houston,Whitney,1987,"Pop, R&B",20,1
22,Whitney Houston,Whitney Houston,1985,"Pop, R&B",22,1
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45,1

In [76]:
born = 1973
list(data.loc[(data['Released'] >= born) & (data['Released'] < born+10)]['Album'])

['Back in Black',
 'Saturday Night Fever',
 'Boston',
 'Hotel California',
 'Their Greatest Hits (1971–1975)',
 'Goodbye Yellow Brick Road',
 'Greatest Hits',
 'Rumours',
 'Bat Out of Hell',
 'Off the Wall',
 'Thriller',
 'The Dark Side of the Moon',
 'The Wall',
 'Wish You Were Here',
 'Greatest Hits',
 'Breakfast in America',
 'Grease: The Original Soundtrack from the Motion Picture']

In [78]:
rawdata[1]

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]
5,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,24.4 US: 15 million[9] UK: 4.2 million[11] GER...,44,[42]
6,Eagles,Hotel California,1976,Soft rock,31.5 US: 26 million[9] UK: 1.8 million[11] GER...,42,[43]
7,Bee Gees / Various artists,Saturday Night Fever,1977,Disco,21.6 US: 16 million[9] UK: 2.1 million[11] GER...,40,[45][46]
8,Fleetwood Mac,Rumours,1977,Soft rock,27.9 US: 20 million[9] UK: 3.3 million[11] GER...,40,[49][50]
9,Shania Twain,Come On Over,1997,"Country, pop","29.6 US: 20 million[9] JPN: 100,000 [10] UK: 3...",40,[54]