In [4]:
days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\".")
    if temp != "done":
        days.append(temp)


meals = []
for day in days:
    meals.append(input("What would you like to make on " + day + "? "))

Enter a day name. If you are done, write "done".Monday
Enter a day name. If you are done, write "done".Wednesday
Enter a day name. If you are done, write "done".Sunday
Enter a day name. If you are done, write "done".done
What would you like to make on Monday? Tacos
What would you like to make on Wednesday? Pizza
What would you like to make on Sunday? Soup

In [5]:
days

['Monday', 'Wednesday', 'Sunday']

In [10]:
meals

['Tacos', 'Pizza', 'Soup']

In [11]:
import pandas as pd

df = pd.DataFrame(
    {'days': days,
     'meals': meals
    })

In [12]:
df

        days  meals
0     Monday  Tacos
1  Wednesday  Pizza
2     Sunday   Soup

In [13]:
shopping = []
for meal in df['meals']:
    shopping.append(input("What do you need to buy to make " + meal + " ? "))

What do you need to buy to make Tacos ? lettuce, taco shells
What do you need to buy to make Pizza ? cheese, tomato sauce
What do you need to buy to make Soup ? onions

In [14]:
shopping

['lettuce, taco shells', 'cheese, tomato sauce', 'onions']

In [15]:
df['shopping'] = shopping
df

        days  meals              shopping
0     Monday  Tacos  lettuce, taco shells
1  Wednesday  Pizza  cheese, tomato sauce
2     Sunday   Soup                onions

In [17]:
a = list(df['days'])

In [21]:
list(df.iloc[2])

['Sunday', 'Soup', 'onions']

In [22]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_albums")

In [34]:
list(rawdata[1].columns)

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*',
 'Ref(s)']

In [35]:
list(rawdata[2].columns)

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*',
 'Ref(s)']

In [39]:
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])

In [40]:
data.shape

(81, 7)