In [4]:
days = []
temp = ""
while temp != "done":
    temp = input("Enter a day name. If you are done, write \"done\".")
    if temp != "done":
        days.append(temp)


meals = []
for day in days:
    meals.append(input("What would you like to make on " + day + "? "))

Enter a day name. If you are done, write "done".Monday
Enter a day name. If you are done, write "done".Wednesday
Enter a day name. If you are done, write "done".Sunday
Enter a day name. If you are done, write "done".done
What would you like to make on Monday? Tacos
What would you like to make on Wednesday? Pizza
What would you like to make on Sunday? Soup

In [5]:
days

['Monday', 'Wednesday', 'Sunday']

In [10]:
meals

['Tacos', 'Pizza', 'Soup']

In [11]:
import pandas as pd

df = pd.DataFrame(
    {'days': days,
     'meals': meals
    })

In [12]:
df

        days  meals
0     Monday  Tacos
1  Wednesday  Pizza
2     Sunday   Soup

In [13]:
shopping = []
for meal in df['meals']:
    shopping.append(input("What do you need to buy to make " + meal + " ? "))

What do you need to buy to make Tacos ? lettuce, taco shells
What do you need to buy to make Pizza ? cheese, tomato sauce
What do you need to buy to make Soup ? onions

In [14]:
shopping

['lettuce, taco shells', 'cheese, tomato sauce', 'onions']

In [15]:
df['shopping'] = shopping
df

        days  meals              shopping
0     Monday  Tacos  lettuce, taco shells
1  Wednesday  Pizza  cheese, tomato sauce
2     Sunday   Soup                onions

In [17]:
a = list(df['days'])

In [21]:
list(df.iloc[2])

['Sunday', 'Soup', 'onions']

In [22]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_albums")

In [34]:
list(rawdata[1].columns)

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*',
 'Ref(s)']

In [35]:
list(rawdata[2].columns)

['Artist',
 'Album',
 'Released',
 'Genre',
 'Total certified copies(from available markets)*',
 'Claimed sales*',
 'Ref(s)']

In [39]:
data = pd.concat([rawdata[1], rawdata[2], rawdata[3]])

In [40]:
data.shape

(81, 7)

In [53]:
data.head()

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]

In [58]:
data_sorted = data.sort_values(by=['Released'], ascending = False)
data_sorted

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
26,Adele,25,2015,"Soul, pop, R&B",NaN,22,[147]
8,Adele,21,2011,"Pop, soul","26.4 US: 14 million[9] JPN: 100,000[73] UK: 6 ...",31,[86]
4,Norah Jones,Come Away with Me,2002,Jazz,NaN,27,[123]
3,Eminem,The Eminem Show,2002,Hip hop,NaN,27,[121][122]
2,Linkin Park,Hybrid Theory,2000,"Nu metal, rap metal, alternative metal",NaN,27,[120]
...,...,...,...,...,...,...,...
12,Simon & Garfunkel,Bridge over Troubled Water,1970,Folk rock,NaN,25,[131]
13,The Beatles,Abbey Road,1969,Rock,"14.4 US: 12 million[9] GER: 500,000[12] FRA: 1...",31,[97]
46,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171]
6,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,Rock,18.2 US: 11 million[9] UK: 5.1 million[11] GER...,32,[71]
36,Elvis Presley,Elvis' Christmas Album,1957,"Christmas, pop, gospel, rock and roll",NaN,2520,[159][160][161]

In [60]:
data.rename(columns={'Total certified copies(from available markets)*' : 'Copies'})

,Artist,Album,Released,Genre,Copies,Claimed sales*,Ref(s)
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39]
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40]
...,...,...,...,...,...,...,...
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,NaN,20,[168]
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169]
45,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170]
46,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171]
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",NaN,20,[172]

In [61]:
data_sorted = data.sort_values(by=['Artist'])
data_sorted

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s)
14,ABBA,Gold: Greatest Hits,1992,"Pop, disco","23.0 US: 6 million[9] JPN: 600,000[98] UK: 5.4...",30,[101]
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32]
20,Ace of Base,Happy Nation/The Sign,1993,Pop,NaN,23,[139]
26,Adele,25,2015,"Soul, pop, R&B",NaN,22,[147]
8,Adele,21,2011,"Pop, soul","26.4 US: 14 million[9] JPN: 100,000[73] UK: 6 ...",31,[86]
...,...,...,...,...,...,...,...
0,Various artists,Grease: The Original Soundtrack from the Motio...,1978,Rock and roll,14.4 US: 8 million[9] UK: 2.4 million[11] GER:...,38,[55]
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169]
22,Whitney Houston,Whitney Houston,1985,"Pop, R&B",NaN,22,[141]
45,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170]
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37]

In [63]:
years = list(data['Released'])

In [77]:
decades = []
for year in years:
    if year < 1960:
        decades.append('Fifties')
    elif year <= 1970 & year < 1980:
        decades.append('Sixties')
    else: decades.append('other')

In [78]:
decades

['other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sixties',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Fifties',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other']

In [79]:
pop = []
for i in list(data['Genre']):
    if 'Pop' in i:
        pop.append(1)
    elif 'pop' in i:
            pop.append(1)
    else:
        pop.append(0)
data['Pop'] = pop

In [80]:
data

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),Pop
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5],1
1,AC/DC,Back in Black,1980,Hard rock,"29.6 US: 25 million[9] UK: 600,000[11] GER: 1 ...",50,[32],0
2,Whitney Houston / various artists,The Bodyguard,1992,"R&B, soul, pop, soundtrack",32.4 US: 18 million[9] JPN: 3 million[33] UK: ...,45,[37],1
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",21.7 US: 14 million[9] UK: 3.3 million[11] GER...,45,[39],0
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock","41.2 US: 38 million[9] UK: 600,000[11] CAN: 2 ...",44,[40],0
...,...,...,...,...,...,...,...,...
43,Tracy Chapman,Tracy Chapman,1988,Folk rock,NaN,20,[168],0
44,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,"Electro, synthpop",NaN,20,[169],1
45,Whitney Houston,Whitney,1987,"Pop, R&B",NaN,20,[170],1
46,The Who,Tommy,1969,"Hard rock, rock opera",NaN,20,[171],0
47,Andrea Bocelli,Romanza,1997,"Operatic pop, pop",NaN,20,[172],1

In [82]:
data_pop_or_not = data.sort_values(by = ['Pop'], ascending=False)

In [83]:
data_pop_or_not

,Artist,Album,Released,Genre,Total certified copies(from available markets)*,Claimed sales*,Ref(s),Pop
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock","48.9 US: 34 million[9] JPN: 100,000[10] UK: 4....",70,[4][5],1
22,Elton John,Goodbye Yellow Brick Road,1973,"rock, pop rock, glam rock","8.5 US: 8 million[9] UK: 300,000[11] AUS: 210,...",30,[116][117],1
6,Britney Spears,...Baby One More Time,1999,Pop,NaN,25,[125],1
8,Carole King,Tapestry,1971,Pop,NaN,25,[127],1
9,Phil Collins,No Jacket Required,1985,Pop rock,NaN,25,[128],1
...,...,...,...,...,...,...,...,...
13,The Beatles,Abbey Road,1969,Rock,"14.4 US: 12 million[9] GER: 500,000[12] FRA: 1...",31,[97],0
12,The Beatles,1,2000,Rock,23.5 US: 12 million[9] JPN: 2 million[10] UK: ...,31,[96],0
11,Metallica,Metallica,1991,Heavy metal,"25.2 US: 16.83 million[9] UK: 900,000[11] GER:...",31,[93],0
6,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,Rock,18.2 US: 11 million[9] UK: 5.1 million[11] GER...,32,[71],0
7,Bob Marley & The Wailers,Legend: The Best of Bob Marley & The Wailers,1984,Reggae,NaN,25,[126],0

In [84]:
born = 1973
list(data.loc[(data['Released'] >= born) & (data['Released'] < born+10)]['Album'])

['Thriller',
 'Back in Black',
 'Bat Out of Hell',
 'Their Greatest Hits (1971–1975)',
 'The Dark Side of the Moon',
 'Hotel California',
 'Saturday Night Fever',
 'Rumours',
 'Grease: The Original Soundtrack from the Motion Picture',
 'The Wall',
 'Goodbye Yellow Brick Road',
 'Greatest Hits',
 'Greatest Hits',
 'Off the Wall',
 'Boston',
 'Wish You Were Here',
 'Breakfast in America']