## Digit Span Data

In [35]:
import pandas as pd

# Read in data
df1 = pd.read_csv("https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/datasets/DigitSpan_2019.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/datasets/DigitSpan_2021.csv")

# Make a new dataframe with the forward and backward data from 2010.
# Keep only speakers that only list Danish as their native language 
df1 = pd.DataFrame({'Forward': df1['Forward digit span'],
                   'Backward': df1['Backward digit span']}).where(df1['Native language 1=native 0=non-native'] == "Danish")

# Make a new column in df1 called "Year", and set all values to 2019
df1['Year'] = [2019]*df1.shape[0]

# Make a new dataframe with the forward and backward data from 2010.
df2 = pd.DataFrame({'Forward': df2['Forward'],
                   'Backward': df2['Backward']})

# Make a new column in df1 called "Year", and set all values to 2021
df2['Year'] = [2021]*df2.shape[0]

# Combine df1 and df2 in one dataframe, and drop all rows with missing data
df = pd.concat([df1, df2]).dropna()

In [36]:
df.head()

   Forward  Backward  Year
0      6.0       4.0  2019
2      6.0       4.0  2019
3      6.0       4.0  2019
5      5.0       6.0  2019
6      5.0       4.0  2019

In [37]:
df['Forward'].mean()

5.909090909090909

In [38]:
df['Forward'].median()

6.0

In [53]:
x = df.where(df['Year'] == 2019)['Forward']
x.mean()

5.666666666666667

In [54]:
y = df.where(df['Year'] == 2021)['Forward']
y.mean()

6.0476190476190474

In [62]:
df['Forward'].corr(df['Backward'])

0.1055880604817525

In [63]:
df['Forward'].rank().corr(df['Backward'].rank())

0.2864343489733777

In [66]:
df.where(df['Backward'] > 1).dropna()['Forward'].rank().corr(df.where(df['Backward'] > 1).dropna()['Backward'].rank())

0.1830353598166031

In [68]:
import numpy as np
np.quantile(df['Forward'], [0.25, .75])

array([5., 6.])

In [70]:
df['Forward'].quantile([0.25, .75])

0.25    5.0
0.75    6.0
Name: Forward, dtype: float64

In [71]:
from scipy import stats
stats.iqr(df['Forward'])

1.0

## Fish vs. Facebook Data

## Stroop Test Data

##