In [3]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

sns.set_context("notebook", font_scale=1.5)

file = 'https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/datasets/Sternberg/2021/Sternberg_cleaned.csv'

data = pd.read_csv(file)

In [4]:
data.head()

   setSize present  id          rt
0        1       n   1  407.000000
1        1       n   2  848.500000
2        1       n   3  549.333333
3        1       n   4  982.333333
4        1       n   5  568.000000