# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered and changeable. No duplicate members.

In [8]:
mytuple = ("cats", "dogs", "horses")
mylist = ["cats", "dogs", "horses"]

In [9]:
mytuple

('cats', 'dogs', 'horses')

In [10]:
mylist

['cats', 'dogs', 'horses']

In [11]:
mytuple[2]

'horses'

In [12]:
mylist[2]

'horses'

In [13]:
mytuple[2]="pigs"

TypeError: 'tuple' object does not support item assignment

In [14]:
mylist[2]="pigs"

In [15]:
mytuple

('cats', 'dogs', 'horses')

In [16]:
mylist

['cats', 'dogs', 'pigs']

In [17]:
myset = set(mytuple)
myset

{'cats', 'dogs', 'horses'}

In [18]:
myset = set(mylist)
myset

{'cats', 'dogs', 'pigs'}

In [19]:
data = "I am a sentence"
set(data)

{' ', 'I', 'a', 'c', 'e', 'm', 'n', 's', 't'}

In [25]:
 myteacher = {
  "name": "Ethan",
  "subject": "Experimental Psycholinguistics",
  "year_of_birth": 1973,
  "hair_color": "grey",
  "favorite_fruits": ['apples', 'grapes', 'oranges']   
}

In [22]:
myteacher

{'teacher': 'Ethan',
 'subject': 'Experimental Psycholinguistics',
 'year_of_birth': 1973,
 'hair_color': 'grey',
 'favorite_fruits': ['apples', 'grapes', 'oranges']}

In [26]:
myteacher['name']

'Ethan'

## Vocabulary Richness

In [64]:
file = '/Users/ethan/Documents/GitHub/ExPsyLing/datasets/FinnegansWake.txt'

from string import punctuation
with open(file,'r') as f:
    finnegan = f.read()
    finnegan = finnegan.replace('\n', ' ')
    finnegan = [x for x in finnegan if x not in punctuation]
    finnegan = ''.join(finnegan)
    finnegan = finnegan.split(' ')
    

file = '/Users/ethan/Documents/GitHub/ExPsyLing/datasets/GeenEggsAndHam.txt'

with open(file,'r') as f:
    eggs = f.read()
    eggs = eggs.replace('\n', ' ')
    eggs = [x for x in eggs if x not in punctuation]
    eggs = ''.join(eggs)
    eggs = eggs.split(' ')

In [69]:
VocabRichnessEggs = len(set(eggs))/(len(eggs))
VocabRichnessFinnegan = len(set(finnegan))/(len(finnegan))

In [78]:
print('Green Eggs and Ham:', round(VocabRichnessEggs * 100, 2))
print('Finnegan\'s Wake:',round(VocabRichnessFinnegan * 100, 2))

Green Eggs and Ham: 7.65
Finnegan's Wake: 28.77

What would this scale mean?
100 = 100% of the words in the book are unique: no repetitions
0 would be impossible, as long as the book has any words at all, but 0.01 would mean that 1% of the words are unique.